# 常用代码

## 显示单元所有变量

In [3]:
# 显示所有变量
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
# 显示最后一个变量
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr"

In [4]:
a = 10
b = 20
a
b

10

20

## matplotlib中文显示设置

In [7]:
# 准备工作
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
## 设置中文显示
plt.rcParams["font.sans-serif"] = "SimHei"
plt.rcParams["axes.unicode_minus"] = False

## 子图的间距

In [8]:
plt.tight_layout()

In [1]:
import pandas as pd
df = pd.read_csv("data/Euro2012.csv")
df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.90%,16.00%,32,0,0,0,...,13,81.30%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.90%,12.90%,39,0,0,0,...,9,60.10%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.00%,20.00%,27,1,0,0,...,10,66.70%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.00%,17.20%,40,0,0,0,...,22,88.10%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.90%,6.50%,65,1,0,0,...,6,54.60%,36,51,5,6,0,11,11,19

In [10]:
#一共有多少支球队
print(len(df))
# 只显示球队名称、进球数、红牌数和黄牌数
df[["Team","Goals","Red Cards","Yellow Cards"]].head()
# 球队平均进球数是多少
print(df["Goals"].mean())
# 按球数进从高到低排序取前五行
df.sort_values(by="Goals", ascending=False).head()
# 显示英格兰、意大利和俄罗斯三支球队的射门准确率
df.index = df["Team"]
df.loc[["England", "Italy", "Russia"],["Shooting Accuracy"]]

16
4.75

        Shooting Accuracy
Team
England            50.00%
Italy              43.00%
Russia             22.50%

In [14]:
years=range(1880,2010)
columns=["name","gender","frequency"]
pieces=[] #用于存储循环读取的每一年的数据,list中的每个元素代表一年的数据
#使用循环读取每年数据，并将各年数据都存入pieces中,pieces列表的各元素表示各年的数据
for year in years:
    path="data/babynames/yob%d.txt" %year
    frame=pd.read_csv(path,names=columns)
    frame["year"]=year
    pieces.append(frame)

#中pieces列表中填入各年数据后，需要使用concat方法将pieces各元素整合在一起
baby_names=pd.concat(pieces,ignore_index=True)
baby_names.tail()

              name gender  frequency  year
1656941  Zyquarius      M          5  2009
1656942      Zyran      M          5  2009
1656943    Zyreion      M          5  2009
1656944     Zyrian      M          5  2009
1656945     Zyvion      M          5  2009